<label class="selector-label">Selecciona la entidad:</label>
<div class="button-selector">
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'usuario'"
    (click)="entitySelected = 'usuario'">
    Usuario
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'direccion'"
    (click)="entitySelected = 'direccion'">
    Dirección
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'plato'"
    (click)="entitySelected = 'plato'">
    Plato
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'restaurante'"
    (click)="entitySelected = 'restaurante'">
    Restaurante
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'pedido'"
    (click)="entitySelected = 'pedido'">
    Pedido
  </button>
</div>

@switch (entitySelected) {
  @case ("usuario") {
    <app-user-adder></app-user-adder>
  }
  @case ("direccion") {
    <app-direccion-adder></app-direccion-adder>
  }
  @case ("plato") {
    <app-plato-adder></app-plato-adder>
  }
  @case ("restaurante") {
    <app-restaurante-adder></app-restaurante-adder>
  }
  @case ("pedido") {
    <app-pedido-adder></app-pedido-adder>
  }
}
