<label class="selector-label">Selecciona la entidad:</label>
<div class="button-selector">
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'usuario'"
    (click)="entitySelected = 'usuario'">
    Usuario
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'direccion'"
    (click)="entitySelected = 'direccion'">
    Dirección
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'plato'"
    (click)="entitySelected = 'plato'">
    Plato
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'restaurante'"
    (click)="entitySelected = 'restaurante'">
    Restaurante
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'pedido'"
    (click)="entitySelected = 'pedido'">
    Pedido
  </button>
</div>

@switch (entitySelected) {
  @case ('usuario') {
    <app-user-editor></app-user-editor>
  }
  @case ('direccion') {
    <app-direccion-editor></app-direccion-editor>
  }
  @case ('plato') {
    <app-plato-editor></app-plato-editor>
  }
  @case ('restaurante') {
    <app-restaurante-editor></app-restaurante-editor>
  }
  @case ('pedido') {
    <app-pedido-editor></app-pedido-editor>
  }
}

