<label class="selector-label">Selecciona la entidad:</label>
<div class="button-selector">
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'usuarios'"
    (click)="entitySelected = 'usuarios'">
    Usuario
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'direcciones'"
    (click)="entitySelected = 'direcciones'">
    Dirección
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'platos'"
    (click)="entitySelected = 'platos'">
    Plato
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'restaurantes'"
    (click)="entitySelected = 'restaurantes'">
    Restaurante
  </button>
  <button
    class="entity-btn"
    [class.active]="entitySelected === 'pedidos'"
    (click)="entitySelected = 'pedidos'">
    Pedido
  </button>
</div>

@switch (entitySelected) {
  @case ('usuarios') {
    <app-user-display></app-user-display>
  }
  @case ('direcciones') {
    <app-direccion-display></app-direccion-display>
  }
  @case ('platos') {
    <app-plato-display></app-plato-display>
  }
  @case ('restaurantes') {
    <app-restaurante-display></app-restaurante-display>
  }
  @case ('pedidos') {
    <app-pedido-display></app-pedido-display>
  }
}

