<h3>Pedido</h3>

<form class="adder">
  <label for="userId">ID Usuario:
    @if (user) { {{user.id}} - {{user.nickname}} } @else {-}
  </label>
  <app-user-selector actionText="Cambiar" (userAñadido)="establecerUsuario($event)"></app-user-selector>
  <label for="platoId">ID Plato: @if (plato) { {{plato.id}} - {{plato.nombre}} }</label>
  <app-plato-selector actionText="Cambiar" (platoAñadido)="establecerPlato($event)"></app-plato-selector>
  <label for="estado">Estado: </label>
  <select name="estado" id="estado" [(ngModel)]="estado">
    <option value="PREPARING">En Preparación</option>
    <option value="DELIVERING">En camino</option>
    <option value="DELIVERED">Entregado</option>
  </select>
  <label for="entrega">Entrega: </label>
  <input type="datetime-local" id="entrega" name="entrega" [(ngModel)]="entrega">
  <label for="modificaciones">Modificaciones: </label>
    @for (modif of modificaciones; track $index) {
      <p class="deletableElement">- {{modif}} <button title="Eliminar" (click)="eliminarModificacion($index)">X</button></p>
    }
  <app-list-selector [lista]="plato.possibleModifications" (itemSelected)="agregarModificacion($event)"></app-list-selector>
  <div class="form-buttons">
    <button type="submit" (click)="registerPedido()">Guardar</button>
    <button type="reset">Eliminar</button>
  </div>
</form>


