.userDisplay {
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #4a2c7d;
  color: #ffffff;
  margin-bottom: 1rem;
}

.userDisplay p {
  font-weight: bold;
  margin: 0.25rem 0;
}

.userDisplay span {
  font-weight: 400;
}

.displayContainer {
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
  clear: both;
}

.containerTitle {
  display: flex;
  overflow-y: auto;
  max-height: 13vh;
  gap: 33rem;
}

.refresh {
  margin-top: 1vw;
  width: 2rem;
  height: 2rem;
  background-color: #7744ff;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-image: url(../../../../assets/refresh.png);
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.refresh:hover {
  background-color: #6b4a9f;
  cursor: pointer;
}
